@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/fonts/OpenSans/OpenSans.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans/OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700i,800');

/*Header*/


.toolbar-menu {
    
    display: flex!important;
    flex-direction: row!important;
}


.views-element-container {
    
    display: none;
}

body{
  font-family: 'OpenSans', sans-serif;
  font-size: 13.5px;
  line-height: 170%;
  color: #333;
  overflow-x: hidden;
}

p{ margin: 0 0 20px 0; }

h1, .h1{ font-size: 22px; color: #000; }

h2, .h2{ font-size: 20px; color: #000; }

h3, .h3{ font-size: 16px; color: #000; }

h4, .h4{ font-size: 14px; color: #000; }

img{ max-width: 100%; }

a{
  color: #2783e8;
}

a:hover{
  color: #2780e8;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header{
   background-image: url('https://images.unsplash.com/photo-1443916568596-df5a58c445e9?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=');
    background-size: cover;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
margin:0;
    
}

.region-breadcrumb {
    
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
}

.breadcrumb {
    
    border: none!important;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.055em;
    font-family: 'OpenSans', sans-serif;
    font-weight: bold;
    margin-top: 8px!important;
}


#pricing-01 {
    
    border: 2px solid #2783e8;
    padding: 40px;
        margin-top: 40px;
}

.price-elements h5 {
    
    font-size: 1.8em;
    font-weight: bold;
    color: #2783e8;
}
.contact-elements {
    
    display: flex;
    flex-direction: row;
}

#pricing-02 {
    
    background: #eee;
    padding: 40px;
    margin-top: 20px;
    border: 2px solid #eee;
}

.contact-info {
    
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.contact-info #phone {
    
    font-size: 1.5em;
 
}

.contact-info #location {
    
    font-size: 1.5em;
    margin-top: 40px;
  
}

.contact-info p {
    
    margin-top: 0!important;
    margin-bottom: 20px;
    
}

#gmaps {
    
    width: 100%;
    height: 400px;
    background: #eee;
}

#map {
    
    width: 100%;
    height: 100%;
}

.contact-info #where {
    
    font-size: 0.8em;

}

.contact-info a {
    
    font-size: 0.9em;
}


.contact-info #email {
    
    font-size: 1.5em;
 margin-top: 10px;
}

.contact-info {
    
    margin-top: 20px;
}


.features-elements {
    
    margin-top: 40px;
}

.features-elements h3 {
    
    color: #1f1f1f;
    font-size: 1.4em;
    margin-bottom: 0px;
    margin-right: 20px;
    
}

.icon-text {
    
    display: flex;
    width:auto;
    flex-direction: row;
    align-items: center;
    margin: 0!important;
    text-align: center;
}

.icon-text #icon-01 {
    
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.icon-text #icon-02 {
    
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.icon-text #icon-03 {
    
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0px center;
}


.icon-text #icon-04 {
    
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.feautes-elements p {
    
    margin: 0!important;
}

.page-node-type-page .main-header {
    
    background-image: none!important;
    background: #222;
}


.path-node .main-header {
    position: fixed!important;
    width: 100%!important;
    z-index: 9999!important;
}


.path-contact .region-content {
    
    padding-top: 40px;
    padding-bottom: 40px;
}


.path-user .main-header {
    
    background-image: none!important;
    background: #222;
    
}

.form-actions {
    
    display: flex;
    flex-direction: row;
}

.path-contact .main-header {
    
    background-image: none!important;
    background: #222;
}


.path-user .region-content {
    
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-login-form {
    
    background: #fff!important;
    border: none!important;
    height: 500px;
    width: 450px;
    -webkit-box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}




.js-quickedit-page-title {
    
    margin: 0;
    font-size: 2.8em;
    color: #fff;
}


.path-node .main-header {
    

        height: 85px;
   
}

.path-node .hamburger {
    
    top: 18px;
}

#page-title-inner {
    
    background: rgba(0, 0, 0, 0.76)!important;
    height: 100%;
}


#page-title .container {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#page-title {
    
     background-image: url('https://frontofficerocks.com/wp-content/uploads/2016/07/Motivating-employees.jpg')!important;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

#wrapped {
    
    display: flex;
    flex-direction: column!important;
    width: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
}


#wrapped h4 {
    
    font-size: 2.3em;
    text-align: left;
    justify-content: flex-start;
}

.split {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
   
}


#aligning {
    
    width: 80%;
}

.split p {
    
    width: 100%;
    padding-right: 50px;
    color: #999;
}


.split .imgs {
    
    width: 800px;
    height: 250px;
    background: lightgrey;
    background-image: url('https://assets.entrepreneur.com/content/3x2/1300/20160504122807-shutterstock-400847059.jpeg');
        background-size: cover;
}


.mv {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}

.text-container h5 {
    
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: none;
}

.text-container p {
    
    color: #999;
}

.text-container {
    
    display: flex;
    width: 80%;
    flex-direction: column;
}

.region-page-title {
    
    display: flex!important;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}

#about-container {
    
    width: 100%;
    height: auto;
    
}



article {
    
    width: 100%!important;
}




.breadcrumb a {
    
    font-size: 0.9em;
    margin-left: 5px;
font-family: 'OpenSans', sans-serif;

}

.breadcrumb ul {
    
    padding-left: 40px!important;
    border: none!important;
    font-family: 'OpenSans', sans-serif;
    color: transparent;
   background-image: url('http://image.flaticon.com/icons/png/128/126/126490.png');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 87px;

}
.site-branding__name {
    
    
    text-transform: uppercase;
    letter-spacing: 0.085em!important;
     font-weight: 300!important;
      font-family: 'OpenSans', sans-serif;
}


.site-branding__name a {
    
    font-size: 1.3em!important;
    font-weight: 300!important;
      font-family: 'OpenSans', sans-serif;
}

.brand, .logo {
    
    width: 50%!important;
     font-weight: 300!important;
      font-family: 'OpenSans', sans-serif;
}

#block-drupal8-zymphonies-theme-branding {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-header:after {
    
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative; 
    height: 100%;
    background: rgba(0,0,0,0.55)!important;
}

.main-header:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 22, 26, 0.88);
}

.main-header nav{
  background: none;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.site-name a{
  font-size: 26px;
  color: #fff;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  text-align: center;
  padding: 50px 0;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

/*footerwidget*/

.footerwidget{
  background: #2e2e2e;
  color: #D0D0D0;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #222;
  font-size: 10px;
  color: #999;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}


.last-container {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-widgets .region{
  padding: 10px;
  background: #DEDEDE;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #222;
  color: #fff;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo-footer {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-footer img {
    
    height: 100px;
    display: flex;
    
}

.logo-footer h5 {
    
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.055em;
    margin-left: 10px;
}

.footer-menu li {
    
    padding: 0!important;
    margin: 0!important;
    border: none!important;
    height: auto!important;
    text-transform: uppercase;
    letter-spacing: 0.055em;
    width: auto!important;
    font-size: 0.9em;

}

.footer-menu ul{
  margin: 12px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
    margin-left: 10px!important;
}

#credit {
    
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.055em;
}


/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  border: 1px solid #fff;
}

.contact-message-feedback-form {
    
    padding-bottom: 50px!important;
    padding-top: 50px!important;
}

#edit-preview {
    
    margin-left: 60px;
    background: #ddd!important;
    box-shadow: none!important
}

textarea {
    
    background: rgba(0,0,0,0.023);
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background: #2783e8!important;
    border-radius: 100px;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    border: none;

}

.btn:hover, 
input[type="submit"]:hover{
  background: #2783e8;
}

/*FRONT PAGE*/

.path-frontpage .content_layout {
  text-align: center;
}

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

ul {
    
    display: flex;
}

ul .menu {
    
    padding: 0;
    margin: 0;
    display: flex!important;
}

.navbar-default .navbar-toggle{
  background: transparent;
  margin-right: 20px;
}




nav h2{
  display: none;
}


.menu-base-theme a, .menu-base-theme a:hover, .menu-base-theme a:focus, .menu-base-theme a:active {
    
   
    color: #fff;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: none;
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  
}

.menu-base-theme a span.sub-arrow{
  color: #fff;
  font-size: 22px;

 
} 

.navbar-toggle{
  z-index: 999;
}


.navbar-header, .col-md-3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul{
  padding: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

/*search form*/

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact .region-content {
    
    padding-top: 40px!important;
    padding: 50px!important;
    
}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  padding: 10px 30px;
  background: #fff;
        -webkit-box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
box-shadow: 0px 0px 89px -23px rgba(0,0,0,0.35);
    
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

.form-text {
    
    border-radius: 100px;
    border: 2px solid #2783e8;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
    border-radius: 100px;
    border: 2px solid #2783e8;
}

textarea:focus, input:focus{
    outline: none;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}


.form-email {
    
    border-radius: 100px!important;
    border: 2px solid #2783e8!important;
}
/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}


/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}



/* Custom CSS Style Added to Theme by Simon */

.menu {
    
    list-style: none;
}


.menu li {
    
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 100px;
    margin-right: 10px;
}



.menu a {
    
    color: #fff;
}



#block-useraccountmenu {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right: 0;
    
}

.region-primary-menu, .region {
    
    display: flex!important;
    width: 100%!important;
}

.col-md-9 {
    
    padding: 0;
    margin: 0;
    margin-top: 10px;
}


#block-drupal8-zymphonies-theme-main-menu {
    
    right: 0;
    position: absolute;
    margin-right: 340px; 
    
}
   


@media (min-width: 1200px) {
    
    .main-header .container {
        
        width: 100%!important;
        
    }
    
}

@media (min-width: 1400px) {
    
    .main-header .container {
        
        width: 90%!important;
        
    }
    
}


@media (max-width: 1260px) {
    
    .col-md-9 nav {
        
        display: none;
    }
    
    .col-md-9 ul {
        
        display: none;
    }
}

.menu-base-theme {
    
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.055em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}

.col-md-12 p {
    
    letter-spacing: 0.055em;
    font-size: 1.2em;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;

}

.col-md-12 h2 {
    
    font-size: 4.8em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.055em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 70px;

}


.region-topwidget-first h6 {
    
    font-size: 1.3em;
    font-weight: 400;
     letter-spacing: 0.055em;
    font-family: 'Open Sans', sans-serif;
}




.topwidget {
    
    width: 100%;
}

.col-xs-6 {
    
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
}

.block block-block-content, .block-block-content3ffb06a2-fdf4-4b85-8759-800427a5f776 {
    
    width: 100%;
}

.welcome-banner-text .row {
    
    width: 120%;
}

.col-md-12 {
    
 padding: 0;   
}
#block-forsideoverskrift {
    
    width: 100%;
}

/* Ikoner */

#icon-01 {
    
    width: 75px;
    height: 75px;
    background: transparent;
    color: transparent;
    background-image: url('http://svgur.com/i/Fe.svg');
    background-size: cover;
}

.icon-text {
    
    text-align: center!important;
    padding: 0!important;
    margin: 0;
    margin-top: 10px!important;
    color: #bbb;
}

#icon-02 {
    
    width: 75px;
    height: 75px;
    background: transparent;
    color: transparent;
    background-image: url('http://svgur.com/i/F9.svg');
    background-size: cover;
}


#icon-03 {
    
    width: 75px;
    height: 75px;
    background: transparent;
    color: transparent;
    background-image: url('http://svgur.com/i/Fr.svg');
    background-size: cover;
}

#icon-04 {
    
    width: 75px;
    height: 75px;
    background: transparent;
    color: transparent;
    background-image: url('http://svgur.com/i/FA.svg');
    background-size: cover;
}

.menu-sidebar {
    
    display: none;
}


.sidebar {
    
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}



/* MOBILE NAV */

@media (max-width: 480px) {
    
    .sidebar {
        
        width: 100%;
        background: rgba(0,0,0,0.95)!important;
    }
}

@media (max-width: 767px) {
    
    
    .split {
        
        display: flex;
        flex-direction: column;
    }
    
    .split .imgs {
        
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
        
    }
    
  
    
    .sidebar ul {
        
        display: flex!important;
        width: 100%;
        justify-content: center!important;
        flex-direction: column!important;
        
    }
    
    .sidebar {
        
        width: 100%!important;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .sidebar li {
        
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .is-active {
        
        width: 100%!important;
        display: flex;
        justify-content: center;
    }
    
    #main-menu a {
        
        width: 100%!important;
        display: flex!important;
        justify-content: center!important;
    }
    
    #main-menu li {
        
        margin-right: -30px;
    }
    
}


#navbar-nav {
    
    display: none;
}


.toolbar-menu {
    
    display: flex!important;
    height: 100%!important;
}


#block_content/6 {
    
    width:100%;
}



@media (max-width: 1259px) {
    
    .hamburger {
    
    display: block!important;
}

    
    
    .hamburger {
        
        width: 50px;
        height: 50px;

        top:10px;
        right:35px;
        position: absolute;
        z-index: 99999!important;
    }
    
    
    .menu-item {
        
        width: 100%;
    }
    .sidebar {
        
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.95);
        right:0;
        top:0;

        position: fixed;
        z-index: 9999;
        padding-top: 100px;
    }
    
    .menu-base-theme ul {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-base-theme li {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .menu-base-theme a {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-sidebar {
        
        display: block!important;
        display: flex;
        flex-direction: column;
    }
    
    .menu-sidebar ul {
        
        display: flex;
        flex-direction: column;
    }
    
    .menu-sidebar ul li {
        margin-bottom: 10px;
    }
    
    .menu-sidebar .menu {
        padding: 0;
    }
    
    .menu {
    
    margin-top: 40px!important;
}
    
    .menu-sidebar #main-menu {
        
        display: flex;
        align-items: center;
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    
    
    
    .menu li {
        
        margin-right: 0;
        
    }
    .menu-sidebar .region-primary-menu {
        
        display: flex;
        flex-direction: column;
        background: none!important;
    }
    
    #block-drupal8-zymphonies-theme-main-menu {
        
        margin: 0;
    }
    
    #block-useraccountmenu {
        
        left: 0;
        position: relative!important;
    }
    
    #block-drupal8-zymphonies-theme-main-menu {
        
        position: relative;
        left: 0;
    }
}

.hamburger {
    
    display: none;
}


/* HAMBURGER */


#hamburger-icon {
    
    padding-bottom: 0;
}

#hamburger-icon {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
    top: 10px;
}
#hamburger-icon .line {
  display: block;
  background: #ecf0f1;
  width: 35px;
  height: 2px;
  position: relative;
  left: 0;
  border-radius: 100px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
  top: 0;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}

#hamburger-icon.active .line-1 {
  transform: translateY(12px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
  -moz-transform: translateY(12px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-12px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
}



/* CONTAINERS */


.second-container {
    
    width: 100%;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: row;
}

.col-first {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-image: url('https://fthmb.tqn.com/_4cshwbaP4hd3_-XCfnIGYuQlM0=/2124x1414/filters:no_upscale():fill(87E3EF,1)/about/listening-couple-communication-conversation-ONOKY-Eric-Audras-56a906085f9b58b7d0f7666c.jpg');
    background-size: cover;
}

.col-sm-6 .region-footer-menu {
    
    margin-top: 25px;
}


.footer-menu {
    
    overflow: hidden;
}

@media screen and (max-width: 1260px) {
    
    .footer-menu {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-menu .col-sm-6 {
        
        width: 100%;
        display: flex;
align-items: center;
        justify-content: center;
    
    }
    
    
    .region-footer-menu {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0!important;
    }
    
    
    .footer-menu .logo-footer {
        
        margin-bottom: -20px!important;
    }
    
    
}


@media screen and (max-width: 550px) {
    
    .footer-menu ul {
        
            display: flex;
    flex-direction: column;
    text-align: center;
        margin-left: 25px!important;
    }
    
    .footer-menu {
        
        height: 350px;
    }
    
    h3 {
        
        font-size: 2.1em!important;
    }
    
    
    .region-welcome-banner-text h2 {
        
        font-size: 2.0em!important;
        width: 450px;
        margin-left: 50px;
        line-height: 30px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    .region-welcome-banner-text p {
        
        width: 350px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


.teaser {
    
    margin-top: 10px!important;
}


@media screen and (max-width: 767px) {
    
    .topwidget {
        
        height: 500px!important;
 
    }

    .third-container {
        
        flex-direction: column!important;
    }

    .third-container .deco {
        
        display: none!important;
    }
    
    .third-container p {
        
        text-align: center;
    }

}


@media screen and (max-width: 980px) {
    
    .second-container {
        
        flex-direction: column;
        height: 100%;
    }
    
    .col-first {
        
        height: 500px!important;
    }
    
}


.col-second {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background: #222;
    flex-direction: column;
}

.white {
    
    background: #fff!important;
 

}

.fifth-container {
    
    width: 100%;
    height: 400px;
    background: #fdfdfd;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.fifth-container h3 {
    
    color: #222;
    margin-bottom: 20px;
    
}

p {
    
    font-weight: 300!important;
}

.cta-btn {
    
        background: #2783e8!important;
    border-radius: 100px;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
}


.cta-btn a {
    
    color: #fff;
}

.fifth-container p {
    
     color: #d5d5d5;
     font-weight: 300;
    font-size: 1.2em;
    line-height: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'OpenSans', sans-serif;
}

.fifth-container span {
    
    color: #ddd;
}

#block-faqcontainer {
    
    width: 100%;
}

.footerwidget {
    
    background: none!important;
}

.packing {
    
    margin-right: 10px;
}

#block-fourthcontainer {
    
    width: 100%;
}

.white p {
    
    font-weight: 100;
    color: #bbb;
    
}

.messages .messages--status {
    
    position: absolute;
    z-index:99999;
}


.second-pic {
    
    background-image: url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapped-1 {
    
    width: 100%;
    display: flex;
    flex-direction: row;
}

.white h3 {
    
    color: #222;
}

.white span {
    
    color: #ccc;
}


.white .teaser p {
    
    color: #bbb;
}

.col-second-white {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    background: #fff;
    flex-direction: column;
}

.topwidget {
    
        height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper .container {
    
    width: 100%;
    padding: 0;
    
}


#block-secondcontainer {
    
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.region .region-content {
    
    width: 100%;
}



h3 {
    
    color: #fff;
    font-size: 2.9em;
    margin: 0;
    padding: 0;
}

.padder {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

h3 span {
    
    color: #666;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding:0;
}

#block-secondcontainer p {
    
    color: #d5d5d5;
     font-weight: 100;
    fonnt-size: 0.5em;
    line-height: 25px;
}

.teaser {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.bottom-widgets {
    
    padding: 0!important;
    margin: 0!important;
    background: #2783e8;
    height: 250px;
    display: flex;
    align-items: center;
}


#block-thirdcontainer {
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#block-thirdcontainer .text {
    
    color: #fff;
    font-weight: 100;
    
}

#block-thirdcontainer a {
    
    color: #2783e8;
    background: white!important;
    border-color: white;
    background-color: white;
    margin: 0;
    padding: 0;
}


.btn {
    
    background: white!important;
    border-radius: 100px;
    padding: 18px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.deco {
    
    width: 250px;
    height: 50px;
    background-image: url('http://i68.tinypic.com/j15c15.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}



.footerwidget {
    
    padding: 0!important;
}

.footerwidget .container {
    
    padding: 0!important;
    width: 100%;
}


.third-container {
    
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}


.block {
    
    margin: 0;
}

.third-container span {
    
    font-size: 1.3em;
}

.third-container p {
line-height: 35px;

}

.bottom-widgets .region {
    
    background: none;
}

.bottom-widgets .container {
    
    width: 100%;
    background: none;
}

.teaser ul {
    
    padding: 0;
}

.teaser li {
    
    width: 40px;
    height: 40px;
    background: #2783e8;
    border-radius: 100px;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
}


.teaser p {
    
    color: #fff;
    font-weight: 100;
    fonnt-size: 0.7em;
    margin: 0;
    padding: 0;
}




/* Accordion */


.faq-elements {
    
    margin-top: 20px;
}


 .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #fff;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
       
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
        font-size: 1.2em!important;
    }



.panel-title {
    
    font-size: 1.1em!important;
}

.informative-text {
    
    color: #999;
    margin-bottom: 40px;
}

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
